{%extends 'base.html'%}
{%load crispy_forms_tags%}

{%block title%}{{title}}{%endblock%}

{%block content%}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <br>
            <h2 class="h2">{{title}}</h2>
            <h4 class="h4">Return to the <a href="{%url 'accounts:dashboard'%}">dashboard</a></h4>
            <hr class="my-4"></hr>
            {%if form.errors%}
                <div class="alert alert-danger" role="alert">
                    {%for f in form.errors.values%}
                        {{f}}
                    {%endfor%}
                </div>
            {%endif%}
            {%crispy form%}
        </div>
    </div>
</div>
{%endblock%}