{%extends 'base.html'%}
{%load crispy_forms_tags%}
{%block title%}Login{%endblock%}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row" id="login-form-wrap" align="center">
                <h3 class="mb-3">Sign in</h3>
                <hr class="my-4">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {{message}}
                        </div>
                    {% endfor %}
                {%endif%}
                {%crispy form%}
            </div>
        </div>
    </div>
</div>
{%endblock%}