<div class="col-md-4">
    <div class="single-sidebar">
        <h2 class="sidebar-title">Search Products</h2>
        <form action="{%url 'products:product_search'%}" method="GET">
            <input type="text" placeholder="Search products..." name="q">
            <input type="submit" value="Search">
        </form>
    </div>
    
    <!--Recent products-->
    {%with recents=recent_products%}
    <div class="single-sidebar">
        <h2 class="sidebar-title">Products</h2>
        {%for recent_product in recents%}
            <div class="thubmnail-recent">
                    <img src="{{recent_product.main_image.0.image.url}}" class="recent-thumb" alt="{{recent_product.main_image.0.alt_text}}">
                <h2><a href="{{recent_product.get_absolute_url}}">{{recent_product.title}}</a></h2>
                <div class="product-sidebar-price">
                    {%if recent_product.discount != None%}
                        <ins>${{recent_product.final_price}}</ins><span class="on-sale">{{recent_product.discount}}% Off </span><del> ${{recent_product.regular_price}}</del>
                    {%else%}
                        <ins>${{recent_product.final_price}}</ins>
                    {%endif%}
                </div>                             
            </div>
        {%endfor%}
    </div>
    
    <!--Recent posts-->
    <div class="single-sidebar">
        <h2 class="sidebar-title">Recent Products</h2>
        <ul>
            {%for recent in recents%}
            <li><a href="{{recent.get_absolute_url}}">{{recent.title}}</a></li>
            {%endfor%}
        </ul>
    </div>
    {%endwith%}
</div>