{%extends 'base.html'%}
{%load static%}
{%load thumbnail%}

{%block title%}Shop{%endblock title%}
{%block content%}
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>{{banner_title}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            {%for product in products%}
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="{{product.main_image.0.image.url}}" alt="{{product.main_image.0.alt_text}}">
                        </div>
                        <h2><a href="{{product.get_absolute_url}}">{{product.title}}</a></h2>
                        {%if product.in_stock%}
                        <div class="product-carousel-price">
                            {%if product.discount != None%}
                                <ins>${{product.final_price}}</ins><span class="on-sale">{{product.discount}}% Off </span><del>${{product.regular_price}}</del>
                            {%else%}
                                <ins>${{product.final_price}}</ins>
                            {%endif%}
                        </div>  
                        
                        <div class="product-option-shop">
                            <button type="button"class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="{{product.id}}" value="{{product.id}}" rel="nofollow">Add to cart</a>
                        </div>
                        {%else%}
                        <h4 class="out-of-stock">---Out of Stock---</h4>
                        {%endif%}                       
                    </div>
                </div>
            {%empty%}
            <div class="alert alert-info">
                No product available.
            </div>
            {%endfor%}
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                    <nav>
                        {%if is_paginated%}
                            <ul class="pagination">
                                {%if page_obj.has_previous%}
                                    <li>
                                        <a href="?page=1{%if parameters%}&{{parameters}}{%endif%}" aria-label="First">
                                            <span aria-hidden="true">First</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="?page={{page_obj.previous_page_number}}{%if parameters%}&{{parameters}}{%endif%}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                {%endif%}
                                {%for page in page_obj.paginator.page_range%}
                                    {%if page_obj.number == page%}
                                        <li class="active"><a href="?page={{page}}{%if parameters%}&{{parameters}}{%endif%}">{{page}}</a></li>
                                    {% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3'%}
                                        <li><a href="?page={{page}}{%if parameters%}&{{ parameters }}{%endif%}">{{page}}</a></li>
                                    {%endif%}
                                {%endfor%}
                                {%if page_obj.has_next%}
                                    <li>
                                        <a href="?page={{page_obj.next_page_number}}{%if parameters%}&{{parameters}}{%endif%}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span></a>
                                    <li>
                                        <a href="?page={{page_obj.paginator.num_pages}}{%if parameters%}&{{parameters}}{%endif%}" aria-label="Last">
                                            <span aria-hidden="true">Last</span>
                                        </a>
                                    </li>
                                {%endif%}
                            </ul>
                        {%endif%}
                    </nav>                        
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var CSRF_TOKEN = "{{csrf_token}}";
</script>
<script src="{%static 'js/products/products.js'%}"></script>
{%endblock content%}