{%extends 'base.html'%}
{%load static%}
{%load thumbnail%}
{%load product_tags%}
{%block title%}{{product.title}}{%endblock title%}
{%block content%}
    
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Shop</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                {%include 'sidebar.html'%}
                
                <div class="col-md-8">
                    <div class="product-content-right">
                        <div class="product-breadcroumb">
                            <a href="{% url 'home:index'%}">Home</a>
                            <a href="{{product.category.get_absolute_url}}">{{product.category}}</a>
                            <a href="">{{product.title}}</a>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="product-images">
                                    <div class="product-main-img">
                                        <img src="{{product.main_picture|thumbnail_url:'product_list'}}" alt="">
                                    </div>
                                    
                                    <div class="product-gallery">
                                        {%if product.picture_2%}<img src="{{product.picture_2|thumbnail_url:'detail_other_pics'}}" alt="">{%endif%}
                                        {%if product.picture_3%}<img src="{{product.picture_3|thumbnail_url:'detail_other_pics'}}" alt="">{%endif%}
                                        {%if product.picture_4%}<img src="{{product.picture_4|thumbnail_url:'detail_other_pics'}}" alt="">{%endif%}
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="product-inner">
                                    <h2 class="product-name">{{product.title}}</h2>
                                    <div class="product-inner-price">
                                        {%if product.discount != None%}
                                            <ins>${{product.get_discount_price}}</ins><del>${{product.price}}</del>
                                        {%else%}
                                            <ins>${{product.price}}</ins>
                                        {%endif%}
                                    </div>    
                                    
                                    <form action="" class="cart">
                                        <div class="quantity">
                                            <input type="number" id="select" size="4" class="input-text qty text" title="Qty" value={% get_num_of_product %} name="quantity" min="1" step="1">
                                        </div>
                                        <button class="add_to_cart_button" id="add-button" type="button" value={{product.id}}>Add to cart</button>
                                    </form>   
                                    
                                    <div class="product-inner-category">
                                        <p>Category: <a href="{{product.category.get_absolute_url}}">{{product.category}}</a>
                                    </div> 
                                    
                                    <div role="tabpanel">
                                        <ul class="product-tab" role="tablist">
                                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Reviews</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                                <h2>Product Description</h2>
                                                {{product.description|safe}}  
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="profile">
                                                <h2>Reviews</h2>
                                                <div class="submit-review">
                                                    <p><label for="name">Name</label> <input name="name" type="text"></p>
                                                    <p><label for="email">Email</label> <input name="email" type="email"></p>
                                                    <div class="rating-chooser">
                                                        <p>Your rating</p>

                                                        <div class="rating-wrap-post">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                    </div>
                                                    <p><label for="review">Your review</label> <textarea name="review" id="" cols="30" rows="10"></textarea></p>
                                                    <p><input type="submit" value="Submit"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Related products-->
                        <div class="related-products-wrapper">
                            <h2 class="related-products-title">Related Products</h2>
                            <div class="related-products-carousel">
                                {%for related_product in related_products%}
                                    <div class="single-product">
                                        <div class="product-f-image">
                                            <img src="{{related_product.main_picture|thumbnail_url:'detail_related_product'}}" alt="{{related_product.title}}">
                                            <div class="product-hover">
                                                <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                <a href="{{related_product.get_absolute_url}}" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                            </div>
                                        </div>
                                        <h2><a href="{{related_product.get_absolute_url}}">{{related_product.title}}</a></h2>
                                        <div class="product-carousel-price">
                                            {%if product.discount != None%}
                                                <ins>${{related_product.get_discount_price}}</ins> <del>${{related_product.price}}</del>
                                            {%else%}
                                                <ins>${{related_product.price}}</ins>
                                            {%endif%}
                                        </div> 
                                    </div>
                                {%endfor%}
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>

<script>
$(document).ready(function($){
    var defaultValue = $('#select').val();
    $(document).on('click', '#add-button', function (e) {
        e.preventDefault();
        if ($('#select').val() <= parseInt(0)) {
            alert('Quantity must be greater than 0');
            $('#select').val(defaultValue);
            return false;
        };
        $.ajax({
            type: 'POST',
            url: '{% url "basket:basket_add" %}',
            data: {
                productid: $('#add-button').val(),
                productqty: $('#select').val(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function (json) {
                document.getElementById("basket-total-price").innerHTML = json.subtotal
                document.getElementById("basket-qty").innerHTML = json.qty
            },
            error: function (xhr, errmsg, err) {}
        });
    });
})
</script>
{%endblock content%}