{%extends 'base.html'%}
{%load static%}
{%load thumbnail%}
{%load product_tags%}
{%block title%}{{product.title}}{%endblock title%}
{%block content%}
    
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>{{banner_title}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                {%include 'sidebar.html'%}
                
                <div class="col-md-8">
                    <div class="product-content-right">
                        <div class="product-breadcroumb">
                            <a href="{% url 'home:index'%}">Home</a>
                            <a href="{{product.category.get_absolute_url}}">{{product.category}}</a>
                            <a href="{{product.get_absolute_url}}">{{product.title}}</a>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="product-images">
                                    <div class="product-main-img">
                                        {%with img=product.get_featured_image%}
                                        <img src={{img.image.url}} alt="{{img.alt_text}}">
                                        {%endwith%}
                                    </div>
                                    
                                    <div class="product-gallery">
                                        {%for image in product.images.all%}
                                        {%if not image.is_feature%}
                                        <img src={{image.image.url}} alt="{{image.alt_text}}">
                                        {%endif%}
                                        {%endfor%}
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div id="errors" class=""></div>
                                {% if messages %}
                                {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">
                                    {{message|safe}}
                                </div>
                                {% endfor %}
                                {%endif%}
                                <div class="product-inner">
                                    <h2 class="product-name">{{product.title}}</h2>
                                    {%if product.quantity < 10 and product.quantity > 0%}
                                    <h4 class="low-in-stock"> Only {{product.quantity}} left in stock</h4>
                                    {%endif%}
                                    {%if product.in_stock %}
                                    <div class="product-inner-price">
                                        {%if product.discount != None%}
                                            <ins>${{product.final_price}}</ins><span class="on-sale">{{product.discount}}% Off </span><del>${{product.regular_price}}</del>
                                        {%else%}
                                            <ins>${{product.final_price}}</ins>
                                        {%endif%}
                                    </div>
                                    {%endif%}
                                    {%if request.user.is_authenticated%}
                                        <form action="{%url 'accounts:add-remove-wishlist' product.id%}">
                                            {%if product in request.user.user_wishlist.all%}
                                            <button class="wishlist-button" type="button" onclick="form.submit()">Remove from wishlist</button>
                                            {%else%}
                                            <button class="wishlist-button" type="button" onclick="form.submit()" style="width:183px">Add to wishlist</button>
                                            {%endif%}
                                        </form>
                                        <br>
                                    {%endif%}    
                                    
                                    {%if product.in_stock%}
                                    <div class="cart">
                                        <div class="quantity">
                                            <input type="number" id="select" size="4" class="input-text qty text" title="Qty"
                                             value={% get_num_of_product %} name="quantity" min="1" max={%if product.quantity > 10%}"10"{%else%}"{{product.quantity}}"{%endif%} step="1">
                                        </div>
                                        <button class="add_to_cart_button" id="add-button" type="button" value={{product.id}}>Add to cart</button>
                                    </div>
                                    {%else%}
                                    <h4 class="out-of-stock">---Out of stock---</h4> 
                                    {%endif%}  
                                    
                                    <div class="product-inner-category">
                                        <p>Category: <a href="{{product.category.get_absolute_url}}">{{product.category}}</a>
                                    </div> 
                                    
                                    <div role="tabpanel">
                                        <ul class="product-tab" role="tablist">
                                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Reviews</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                                <h2>Product Description</h2>
                                                {{product.description|safe}}  
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="profile">
                                                <h2>Reviews</h2>
                                                <div class="submit-review">
                                                    <p><label for="name">Name</label> <input name="name" type="text"></p>
                                                    <p><label for="email">Email</label> <input name="email" type="email"></p>
                                                    <div class="rating-chooser">
                                                        <p>Your rating</p>

                                                        <div class="rating-wrap-post">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                    </div>
                                                    <p><label for="review">Your review</label> <textarea name="review" id="" cols="30" rows="10"></textarea></p>
                                                    <p><input type="submit" value="Submit"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Related products-->
                        <div class="related-products-wrapper">
                            <h2 class="related-products-title">Related Products</h2>
                            <div class="related-products-carousel">
                                {%for related_product in related_products%}
                                    <div class="single-product">
                                        <div class="product-f-image">
                                            <div class="product-f-image-related">
                                                {%with img=related_product.get_featured_image%}
                                                <img src="{{img.image.url}}" alt="{{img.alt_text}}">
                                                {%endwith%}
                                            </div>
                                            <div class="product-hover">
                                                <a href="" class="add-to-cart-link" data-product_id="{{related_product.id}}"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                <a href="{{related_product.get_absolute_url}}" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                            </div>
                                        </div>
                                        <h2><a href="{{related_product.get_absolute_url}}">{{related_product.title}}</a></h2>
                                        <div class="product-carousel-price">
                                            {%if related_product.discount != None%}
                                                <ins>${{related_product.final_price}}</ins><span class="on-sale">{{related_product.discount}}% Off </span><del>${{related_product.regular_price}}</del>
                                            {%else%}
                                                <ins>${{related_product.final_price}}</ins>
                                            {%endif%}
                                        </div> 
                                    </div>
                                {%empty%}
                                    <h3 align-text="center">No related products</h3>
                                {%endfor%}
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>

<script>
    var CSRF_TOKEN = "{{csrf_token}}";
</script>
<script src="{%static 'js/products/products.js'%}"></script>
{%endblock content%}