{%extends 'base.html'%}
{%load static%}
{%load thumbnail%}

{%block title%}Shop{%endblock title%}
{%block content%}
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Shop</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            {%for product in products%}
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="{{product.main_picture|thumbnail_url:'product_list'}}" alt="{{product.title}}">
                        </div>
                        <h2><a href="{{product.get_absolute_url}}">{{product.title}}</a></h2>
                        <div class="product-carousel-price">
                            {%if product.discount != None%}
                                <ins>${{product.get_discount_price}}</ins><del>${{product.price}}</del>
                            {%else%}
                                <ins>${{product.price}}</ins>
                            {%endif%}
                        </div>  
                        
                        <div class="product-option-shop">
                            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                        </div>                       
                    </div>
                </div>
            {%endfor%}
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                    <nav>
                        {%if is_paginated%}
                            <ul class="pagination">
                                {%if page_obj.has_previous%}
                                    <li>
                                        <a href="?page=1{%if parameters%}&{{parameters}}{%endif%}" aria-label="First">
                                            <span aria-hidden="true">First</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="?page={{page_obj.previous_page_number}}{%if parameters%}&{{parameters}}{%endif%}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li
                                {%endif%}
                                {%for page in page_obj.paginator.page_range%}
                                    {%if page_obj.number == page%}
                                        <li class="active"><a href="?page={{page}}{%if parameters%}&{{parameters}}{%endif%}">{{page}}</a></li>
                                    {% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3'%}
                                        <li><a href="?page={{page}}{%if parameters%}&{{ parameters }}{%endif%}">{{page}}</a></li>
                                    {%endif%}
                                {%endfor%}
                                {%if page_obj.has_next%}
                                    <li>
                                        <a href="?page={{page_obj.next_page_number}}{%if parameters%}&{{parameters}}{%endif%}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span></a>
                                    <li>
                                        <a href="?page={{page_obj.paginator.num_pages}}{%if parameters%}&{{parameters}}{%endif%}" aria-label="Last">
                                            <span aria-hidden="true">Last</span>
                                        </a>
                                    </li>
                                {%endif%}
                            </ul>
                        {%endif%}
                    </nav>                        
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock content%}